.header {
    position: relative;
    width: 100%;

    .navbar {
        justify-content: space-between;
    }

    h5 {
        width: 210px;
        height: 10px;
        position: relative;
        animation: leftToRight 10s infinite;
    }


    @keyframes leftToRight {

        from {
            left: 0;
        }

        to {
            left: calc(100% - 210px);
        }
    }

    .navbar-brand {
        padding-left: 50px;

        img {
            height: 100px;
            width: 100%;
            border-radius: 50%;
        }
    }

    nav {
        // position: fixed;        width: 100%;
        z-index: 9999;
        overflow: hidden;
        transition: 0.4s;
        top: 0;
    }

    ul {
        justify-content: flex-end;
        list-style: none;
        padding-right: 50px;

        li {
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 29px;
            cursor: pointer;

            .nav-link {
                color: var(--dark) !important;
            }

            &:hover {
                text-decoration: underline;
                text-decoration-color: var(--primary) !important;
                -webkit-text-decoration-color: var(--primary);
            }
        }

        .active {
            a {
                color: var(--primary) !important;
            }
        }
    }
}