@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Heebo";
  padding: 0;
  min-height: 300vh;
  min-width: 110vh;
  font-size: 16px;
  --primary: #ff6464;
  --secondary: #00a8cc;
  --dark: #21243d;
  --light: #8695a4;
  z-index: 0;
}
