.certificate {
    background: var(--bg-main-color);
    padding: calc(var(--distance_nav) + 35px) 0;

    &__title {
        font-size: 22px;
        line-height: 60px;

        &:hover {
            color: var(--primary);
            cursor: pointer;
        }
    }


    .item-certificate__items__item {
        padding: 10px 15px;
    }
}