.certificate {
    background: var(--bg-main-color);
    padding-top: 0;

    @media screen and (min-width: 768px) {
        padding-top: calc(var(--distance_nav) + 35px);
    }

    &__title {
        font-size: 22px;
        line-height: 60px;

        &:hover {
            color: var(--primary);
            cursor: pointer;
        }
    }


    .item-certificate__items__item {
        padding: 10px 15px;
    }
}