.footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: calc(var(--distance_nav) + 35px);
    padding-bottom: 100px;
    box-sizing: border-box;
    background-color: var(--bg-main-color);
    height: calc(100vh - var(--distance_nav));

    .input-group {
        align-items: center;
        padding: 20px;
        margin: auto;

        label {
            padding-right: 50px;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
    }

    .socials {
        padding-top: 3rem;

        .socials-item {
            padding: 1rem;
            font-size: 2rem;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: var(--primary);
            }
        }
    }

    .copyright {
        position: absolute;
        bottom: 2rem;
        text-align: center;
        width: 100%;
    }
}