.featured-works {
    padding: 2.5rem 0;

    @media screen and (min-width: 768px) {
        padding-top: calc(var(--distance_nav) + 35px);
    }

    &__title {
        font-size: 22px;
        line-height: 60px;

        &:hover {
            color: var(--primary);
            cursor: pointer;
        }
    }

    .btn__more {
        border-radius: 20px;
        padding: 0.5rem 1.25rem;
        font-size: 1.25rem;
        color: #fff;
        background-color: #f58220;

        &:hover {
            background-color: var(--dark);
            transform: scale(1.05);
            font-weight: bold;
            transition: transform 0.25s linear;
        }
    }
}