.featured-works {
    padding-top: calc(var(--distance_nav) + 35px);

    &__title {
        font-size: 22px;
        line-height: 60px;

        &:hover {
            color: var(--primary);
            cursor: pointer;
        }
    }
}